.facilities {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.5rem;
  margin-top: 2rem;
}
